# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Turbo
.turbo/

# Production
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Expo
.expo/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Prisma
apps/api/prisma/migrations/*_init/
apps/api/daehanpns-a5fdf-firebase-adminsdk-fbsvc-1ab61b4533.json
NUL
